@import "tailwindcss";

@theme {
    --color-uc-blue: #124076;
    --color-uc-primary: #0C131D;

    /* GRAY */
    --color-uc-gray1: #676767;

    /* EDITOR COLOR */
    --color-uc-editor-bg: #25354B;
}

.content-container {
    height: calc(100vh - 6rem);
}